.graph_title {
    position: absolute;
    top: 460px;
    left: 910px;
}

.klay_name {
    position: absolute;
    top: 130px;
    left: 140px;
}

.klay_accolades {
    text-align: center;
    position: absolute;
    top: 260px;
    left: 120px;
}

.klay_info {
    text-align: center;
    position: absolute;
    top: 330px;
    left: 560px;
}

.klay_img {
    position: absolute;
    top: 30px;
    left: 500px;
}

.dray_name {
    position: absolute;
    top: 594px;
    left: 130px;
}

.dray_accolades {
    text-align: center;
    position: absolute;
    top: 732px;
    left: 120px;
}

.dray_info {
    text-align: center;
    position: absolute;
    top: 800px;
    left: 560px;
}

.dray_img {
    position: absolute;
    top: 500px;
    left: 500px;
}



h2 {
    font-size: 32px;
}

h2::after {
    content:"***";
    font-size: 30px;
    color: black;
    display: block;
    text-align: center;
    letter-spacing: 10px;
    position: absolute;
    top: 65px;
    left: 85px;
}

h1::after {
    content:"***";
    font-size: 30px;
    color: black;
    display: block;
    text-align: center;
    letter-spacing: 10px;
    position: absolute;
    top: 65px;
    left: 75px;
}

.line {
    border-bottom: 5px dashed #006BB6;
    width: 700px;
    position: absolute;
    top: 460px;
    left: 395px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 110px;
    height: 35px;
    padding: 2px;
    font: 15px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


.hide {
    display: none;
}

.annotate_line1 {
    transform: rotate(25deg);
    border-bottom: 3px dashed gray;
    width: 25px;
    position: absolute;
    top: 537px;
    left: 1280px;
    opacity: 0.5;
}

/*style for my visible text*/

.annotate_text1 {
    width: 120px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 505px;
    left: 1195px;
    border-radius: 10%;
    font-size: 12px;
}

/*style for my hover text*/
.myDIV1:hover + .hide {
    display: block;
    color: #006BB6;
    position: absolute;
    top: -45px;
    left: -5px;
}

.annotate_line2 {
    transform: rotate(55deg);
    border-bottom: 3px dashed gray;
    width: 25px;
    position: absolute;
    top: 635px;
    left: 1506px;
    opacity: 0.5;
}

/*style for my visible text*/
.annotate_text2 {
    width: 140px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 595px;
    left: 1425px;
    border-radius: 10%;
    font-size: 12px;
}

/*style for my hover text*/
.myDIV2:hover + .hide {
    display: block;
    color: #006BB6;
    position: absolute;
    top: -100px;
    left: 0px;
}

.caption_klay {
    position: absolute;
    top: 388px;
    left: 1130px;
    font-size: 13px;
}

.caption_dray {
    position: absolute;
    top: 858px;
    left: 1130px;
    font-size: 13px;
}


