.path {
    fill: none;
    stroke: green;
    stroke-width: 3;
}

#one {
	color: red;
	position: absolute;
    left: 200px;
    top: 500px;
}

#two {
	color: blue;
	position: absolute;
    left: 300px;
    top: 500px;
}

img {
    display: block;
    margin-right: auto;
    position: absolute;
    top: 100px;
    left: 100px;
}

h1 {
    position: absolute;
    top: 50px;
    left: 1000px;
}

h1::after {
    content:"...";
    font-size: 500px;
    color: black;
    display: block;
    text-align: center;
    letter-spacing: 5px;
    position: absolute;
    top: 100px;
    left: 1000px;

}

.myDiv {
    border: 5px outset red;
    background-color: lightblue;    
    text-align: center;
    position: absolute;
    top: 150px;
    left: 800px;
}


