/*position of images*/
.first {
    position: absolute;
    top: 130px;
    left: 200px;
}

.second {
    position: absolute;
    top: 130px;
    left: 930px;
}

/*position for top title*/
.first_title {
    position: absolute;
    top: 30px;
    left: 355px;
}

.second_title {
    position: absolute;
    top: 30px;
    left: 1085px;
}

/*position for subtitle*/
.first_subtitle {
    position: absolute;
    top: 550px;
    left: 320px;
}

.second_subtitle {
    position: absolute;
    top: 550px;
    left: 1055px;
}

/*style for tooltips of each bar*/
div.tooltip {
    position: absolute;
    text-align: center;
    width: 75px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/*caption at the bottom of the page*/
.caption {
    position: absolute;
    top: 880px;
    left: 610px;
    font-size: 13px;
}
